<div class="p-5 mb-4 jumbotron-custom">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Nossos Veículos em Estoque</h1>
        <p class="col-md-8 fs-4">Confira os melhores veículos selecionados para você. Qualidade e confiança que você pode ver.</p>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {{#if veiculos}}
        {{#each veiculos}}
        <div class="col">
            <div class="card h-100">
                {{#with (getFotos fotos) as |fotoArray|}}
                    <img src="{{fotoArray.[0]}}" class="card-img-top" alt="Foto de {{this.marca}} {{this.modelo}}">
                {{/with}}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{this.marca}} {{this.modelo}}</h5>
                    <p class="card-text text-white-50">Ano: {{this.ano}}</p>
                    <h4 class="text-success mt-auto">{{formatarPreco this.preco}}</h4>
                </div>
                <div class="card-footer">
                     <a href="/veiculo/{{this.id}}" class="btn btn-primary w-100">Ver Detalhes</a>
                </div>
            </div>
        </div>
        {{/each}}
    {{else}}
        <div class="col-12 text-center py-5">
             <p class="fs-4 text-white-50">Nenhum veículo em estoque no momento.</p>
             <p>Adicione o primeiro no painel do vendedor!</p>
        </div>
    {{/if}}
</div>
